body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    height: 120px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

.medicamentos {
    margin-top: 30px;
}

.medicamento {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.medicamento strong {
    font-size: 1.1rem;
    color: #333;
}

.medicamento p {
    margin: 5px 0 0;
    color: #666;
    padding-bottom: 15px;
}

.remove-btn {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.remove-btn:hover {
    background-color: #bd2130;
}

.menu-icon button {
    background-color: #4CAF50;
    border: none;
    box-shadow: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
.sintomas {
    margin-top: 30px;
}

.sintoma {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.sintoma strong {
    font-size: 1.1rem;
    color: #333;
}

.sintoma p {
    margin: 5px 0;
    color: #666;
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px;
    }
}